<form action="/artists" method="GET">
  <input type="text" name="artist" class="form-control" id="" placeholder="Enter artist">
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>